[alias]
	l = log --graph --oneline --color --decorate
	ll = log --graph --color --decorate --pretty=format:\\\"%Cgreen%h%Creset%x09%an%x09%Cblue%ai%Creset%x09%Cred%d%Creset%x09%s\\\"
	s = status
[user]
	email = hendrik.thorun@gmail.com
	name = Hendrik Boelcke
